html {
  background: url("img/home-page3.jpg") no-repeat center fixed;
  background-size: cover;
  opacity: 0.9;
}

div {
  text-align: left;
}
body {
  background-color: darksalmon;
  border-radius: 50px;
  width: 600px;
  margin: 100px auto;
  padding: 50px 100px 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  opacity: 0.9;
}

.nav a {
  margin: 0px 25px;
}

a {
  text-decoration: none;
  color: brown;
}

a:hover {
  text-decoration: underline;
}

.correct {
  border: 2px solid green;
}

.wrong {
  border: 2px solid red;
}

.feedbackq {
  color: red;
}
button {
  background-color: burlywood;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px;
}

h2,
h3 {
  margin-top: 25px;
}
